[Unit]
Description=Craftdoor Service
After=network-online.target
Requires=network-online.target

[Service]
Environment=CRAFTDOOR_ROOT=/home/pi/craftdoor
ExecStart=/home/pi/craftdoor/main --config=${CRAFTDOOR_ROOT}/develop.json
WorkingDirectory=/home/pi/craftdoor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
