[Unit]
Description=Craftdoor Service
After=network.target

[Service]
Environment=CRAFTDOOR_ROOT=/home/pi/craftdoor
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/home/pi/craftdoor/main --config=${CRAFTDOOR_ROOT}/develop.json
WorkingDirectory=/home/pi/craftdoor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
